# Ansible managed
127.0.0.1   localhost
::1         localhost ip6-localhost ip6-loopback
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

{% if ansible_default_ipv6 %}
{# We do a DNS lookup because default IPv6 is not always correct. It has gotten temporary privacy address which is not desired. #}
{# We comment out the line as it is not needed right now. But left in as a reminder for code snippet. #}
# {{ query("community.dns.lookup", ansible_host, type="AAAA")[0] }} {{ inventory_hostname }}
{% endif %}
