#!/usr/bin/nft -f
# vim:set ts=2 sw=2 et:

# For an unexplainable reason at this point in time, my inet table is not denying IPv4 traffic when
# it should be. So I will break ipv4 and ipv6 into their separate tables.
#
# Maybe it is because of this?
# New in nftables 0.9.7 and Linux kernel 5.10 is the inet family ingress hook, which filters at the same location as the netdev ingress hook.
# https://wiki.nftables.org/wiki-nftables/index.php/Nftables_families

# Clean slate
flush ruleset

# Table and chain creation
add table ip6 filter
add chain ip6 filter input { type filter hook input priority filter; policy accept; }
add chain ip6 filter forward { type filter hook forward priority filter; policy accept; }

add table ip6 nat
add chain ip6 nat postrouting { type nat hook postrouting priority srcnat ; }
add chain ip6 nat prerouting { type nat hook prerouting priority dstnat; }

add table ip filter
add chain ip filter input { type filter hook input priority filter; policy accept; }
add chain ip filter forward { type filter hook forward priority filter; policy accept; }

# Define sets
add set ip6 filter int_networks { type ipv6_addr; flags interval; comment "Internal networks"; }
add element ip6 filter int_networks { {{ _ip6_int_networks | join(",") }}}

add set ip6 filter ifname_primary { type ifname; }
add element ip6 filter ifname_primary { "{{ ansible_default_ipv6.interface | default(ansible_default_ipv4.interface) }}" }

add set ip filter int_networks { type ipv4_addr; flags interval; comment "Internal networks"; }
add element ip filter int_networks { {{ _ip4_int_networks | join(",") }} }

add set ip filter ifname_primary { type ifname; }
add element ip filter ifname_primary { "{{ ansible_default_ipv4.interface | default(ansible_default_ipv6.interface) }}" }


### FILTER INPUT
# Allow icmp first. This allows us to receive replies from ff02::1. Otherwise it gets blocked
# by ct=invalid.
add rule ip6 filter input meta l4proto ipv6-icmp counter accept
add rule ip6 filter input ct state invalid counter drop
add rule ip6 filter input ct state {established, related} counter accept
add rule ip6 filter input iif lo counter accept

add rule ip filter input ip protocol icmp counter accept
add rule ip filter input ct state invalid counter drop
add rule ip filter input ct state {established, related} counter accept
add rule ip filter input iif lo counter accept


# ssh
add rule ip6 filter input tcp dport 22 ip6 saddr @int_networks counter accept comment "ssh"

# Examples left here for easy reference.
# add rule ip6 filter input tcp dport 47984 ip6 saddr @int_networks counter accept comment "Example single port"
# add rule ip6 filter input udp dport { 47998-48000 } ip6 saddr @int_networks counter accept comment "Example multi-port"

# IPv4 examples
# add rule ip filter input udp dport { 27031, 27036 } ip saddr @int_networks counter accept comment "Steam streaming"

# Log helper when we need it.
# add rule ip6 filter input log prefix "Dropped packet: " counter drop

# Logging examples. Must be last on the chain but before the explict drop.
# add rule ip6 filter input limit rate 6/minute burst 5 packets counter log prefix "Drop ip6 Input: " comment "Log sample of input drops"
# add rule ip filter input limit rate 6/minute burst 5 packets counter log prefix "Drop ip4 Input: " comment "Log sample of input drops"

# Explicit drops
add rule ip6 filter input counter drop comment "Explicit drop"
add rule ip filter input counter drop comment "Explicit drop"


### FILTER FORWARD
# add rule ip6 filter forward iifname clat oifname @ifname_primary counter accept
# add rule ip6 filter forward iifname @ifname_primary oifname clat counter accept
# add rule ip6 filter forward limit rate 6/minute burst 5 packets counter log prefix "Drop ip6 Forward: " comment "Log sample of forward drops"
add rule ip6 filter forward counter drop comment "Explicit drop"

# add rule ip filter forward limit rate 6/minute burst 5 packets counter log prefix "Drop ip4 Forward: " comment "Log sample of forward drops"
add rule ip filter forward counter drop comment "Explicit drop"

# Old/unused references
#
# Masquerade/DNAT
# add rule ip6 filter postrouting ip6 saddr 2001:470:8962:aaaa::/64 oif wlp9s0 counter masquerade
#
# Filter specific for a device on hook "ingress" (netdev)
#table netdev filtermacvtap {
#  chain filterin {
#    type filter hook ingress device "tap-vm0" priority filter
#    policy accept
#    counter
#  }
#}
#
# Limit rating
# pkttype host limit rate 5/second counter reject with icmpx type admin-prohibited
