{
  "CN": "{{ cfssl_ca_name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C":  "US",
      "L":  "New York",
      "O":  "digaxfr",
      "OU": "lab",
      "ST": "New York"
    }
  ]
}
