# Ansible managed
# Note that this file evolved over time based on different needs. It's messy.
[Match]
Name={{ ansible_default_ipv6.interface }}

[Network]
DHCP=no
{% for macvlan in macvlans %}
{% if macvlan.parent == ansible_default_ipv6.interface %}
MACVLAN={{ macvlan.name }}
{% endif %}
{% endfor %}
{% for macvtap in macvtaps %}
{% if macvtap.parent == ansible_default_ipv6.interface %}
MACVTAP={{ macvtap.name }}
{% endif %}
{% endfor %}
{% for vlan in vlans %}
{% if vlan.parent == ansible_default_ipv6.interface %}
VLAN={{ vlan.parent }}.{{ vlan.id }}
{% endif %}
{% endfor %}

{% for bridge in bridges %}
{% for br_int in bridge.interfaces %}
{% if br_int == ansible_default_ipv6.interface %}
Bridge={{ bridge.name }}
{% endif %}
{% endfor %}
{% endfor %}

[IPv6AcceptRA]
Token=eui64
Token=prefixstable
